:root {
  /* cores base */
  --cor-primaria: #fcd500; /* destaque */
  --cor-texto-primaria: #ffffff; /* texto principal */
  --cor-texto-segundaria: #333333;
  --color-bg: #0c0c0c; /* fundo principal */
  --cor-bg-segundario: #222222;
}
